<section class="section-1 container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div class="wow fadeInUp" data-wow-delay="0.2s">
        <span class="text-1 text-white">Uncomplicating </span>
        <span class="text-2 text-white">Compliance.</span>
      </div>
      <p class="text-3 text-white wow fadeInUp" data-wow-delay="0.5s">
        Seasoned Professionals who've audited over 100 Firms, now delivering a platform that will allow you to stay compliant and address loopholes.
      </p>
    </div>
  </div>
</section>

<section class="section-2 container-fluid">
  <div class="row">
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
      <h1 class="text-2 text-red">
        Challenging. Time Consuming. Confusing. These are some of the words associated with compliance.
      </h1>
    </div>
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
      <p class="text-3 text-black">
        PW Compliance Consulting provides quality cost effective solutions, and a positive trajectory through compliance for our client’s businesses through an achievable, holistic organisational strategy and our hands on customer service.
      </p>
    </div>
  </div>
</section>

<section class="section-3">
  <div>
    <span class="text-2 text-black">The </span>
    <span class="text-1 text-red">team</span>
  </div>
  <div class="row">
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
      <div class="about-stamp">
        <img src="/assets/Image 1@2x.png">
        <div class="name text-2">
          Catherine
        </div>
        <div class="designation text-1 text-red">
          Founder &amp; CEO
        </div>
        <p class="text-3 text-black">
          Catherine Marchant-Phillips brings over 18 years of multi-industry and multi-discipline experience in corporate and government sectors.  She brings substantial knowledge and experience in the delivery of successful outcomes that she ensures are managed professionally and effectively to successful completion.<br><br>
          Against this background, she has provided a range of services; including but not limited to: project management, strategic alignment assessment, change management, stakeholder engagement, organisational governance development, project governance and assurance, procurement document development including tender responses and supplier management.
          <br><br>
          Catherine is passionate about working with people to ensure that they get the best outcomes for themselves and their companies. 
        </p>
      </div>
    </div>
    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
      <div class="about-stamp">
        <img src="/assets/Brett Welland Photo.png">
        <div class="name text-2">
          Brett
        </div>
        <div class="designation text-1 text-red">
          Founder & COO
        </div>
        <p class="text-3 text-black">
          Brett Welland has worked in corporate Quality Assurance, training and resource development roles for the over 18 years, working with several boutique education organisations, State and Federal Government Institutions, up to large multinational corporations. Brett’s credits his success in these roles to his passion for team development and edification.
          <br><br>
          Through an intimate appreciation of the challenges organisations face developing intellectual capital within the organisation and further nurturing a culture of success, Brett is able to provide strategic guidance and solutions to enhance workforce and governance development.
          <br><br>
          Brett is a firm believer in Health and Safety management through best practice strategies and systems-based monitoring and governance.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-4 container-fluid wow fadeInDown" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-sm-6 left-section">
      <h1 class="text-2 text-white">
        Let's save you some time.
      </h1>
      <h1 class="text-1 text-white">
        Schedule a demo call.
      </h1>
      <p class="text-3 text-white">
        Allow our team to understand your business requirements and providing a bespoke experience.
      </p>
      <div>
        <a routerLink="/contact" class="white-bg-btn btn-hover-anim">
          SCHEDULE DEMO
        </a>
      </div>
    </div>
    <div class="col-sm-6 right-section">
      <img src="assets/Group 140.png">
    </div>
  </div>
</section>
