<section class="cookie">
  <div class="row">
    <div class="col-sm-8">
      <h1>COOKIE POLICY</h1>
      <p>
        A cookie is a small text file containing information that a website transfers to your computer’s hard disk for record-keeping purposes and allows us to analyse our site traffic patterns. It does not contain chocolate chips, you cannot eat it and there is no special hidden jar.
        Read our <a routerLink="/privacy-policy">privacy policy</a> and <a routerLink="/disclaimer">website disclaimer</a> to know more.
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <button class="accept-btn" (click)="acceptCookie()" >accept &amp; proceed</button>
      <div>
        <button (click)="closeCookie()" class="close-btn" >close</button>
      </div>
    </div>
  </div>
</section>