<section class="container-fluid onboarding top-space">
  <div class="row email-verify-page">
    <div class="col-sm-5 left-section">
      <form name="emailVerifyForm" (ngSubmit)="f.form.valid && submit()"  #f="ngForm" novalidate>
        <div class="form-group">
          <h2 class="color-verify-text">Congrats! Email Verified Successfully.</h2>
          <h2 class="verify-email-text">Login in to complete your profile.</h2>
        </div>
        <div class="form-group verifi-email-field valid-icon-header">
          <label class="label-heading" for="email">E-mail</label>
          <input type="email" class="text-field" [(ngModel)]= "user.email" #email="ngModel" name="email" placeholder="error@mail.com" required email />
          <img *ngIf="f.submitted" [style.display]="email.valid ? 'block' : 'none'" class="valid-success-icon" src="assets/check_out.png">
          <img *ngIf="f.submitted" [style.display]="email.valid ? 'none' : 'block'" class="valid-error-icon" src="assets/cross-out.png">
          <div *ngIf="f.submitted && email.errors">
            <div class="err-msg" *ngIf="email.errors.required">Email is required</div>
            <div class="err-msg" *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group valid-icon-header">
          <label class="label-heading" for="password">Password</label>
          <input type="password" class="text-field " [(ngModel)]= "user.password" #password="ngModel" name="password" required />
          <img class="valid-success-icon" *ngIf="f.submitted" [style.display]="password.valid ? 'block' : 'none'" src="assets/check_out.png">
          <img *ngIf="f.submitted" [style.display]="password.valid ? 'none' : 'block' " class="valid-error-icon" src="assets/cross-out.png">
          <div *ngIf="f.submitted && password.errors">
            <div class="err-msg" *ngIf="password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group btn-verifi">
          <button type="submit" class="red-btn btn-hover-anim">Create Your Account</button>
        </div>
        <div class="form-group">
          <p class="resend-mail">Already have an account on GuiDerm?<a target="_blank" class="anchor-text" href="">Login Now!</a></p>
        </div>
      </form>
    </div>
    <div class="col-sm-7 right-section" style="background-image: url(assets/email-verified.png);">
    </div>
  </div>
</section>
