

<section class="template">
  <div class="temppadding">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="main-heading">Gravity Form Templates</h1>
        <p class="sub-heading">Browse through our repository of compliance forms.</p>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="line"></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class=" search-org-name" placeholder="Search by Name of the Form" name="0" id="formSearch">
        <img class="search-icon" src="assets/search-icon-img.png">
      </div>
    </div>
  </div>
  
<!-- <ng-container > -->
  <div class="temppadding">
    <section class="row " >   
    <div class="formTemlate" *ngFor="let template of templates" >
      <h2 class="formTemlateHeading">Form Name</h2>
      <h3 class="formTemlateName">{{template.title}}</h3>     
      <h2 class="formTemlateHeading">Form Id</h2>
      <h3 class="formTemlateDate">{{template.id}}</h3>
      <div class="formTemplateline"></div>  
       <a class="formTemplate-btn button-value" (click)="viewForm(template.id)" >View Form</a>
      
    </div>
  </section>

  </div>
<!-- </ng-container> -->

</section>
  
 
  