<section class="formTemlate">
  <div class="actions" *ngIf="userDataService.getUserData().role == constants.SUPER_ADMIN">
    <div class="dropdown dropdown-menu-right">
      <button type="button" class="btn" data-toggle="dropdown">
        <img src="/assets/menu.svg">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="'/edit-template/' + formtemplate.id" >Edit Form</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="onDeleteClicked(formtemplate)" >Delete Form</a>
      </div>
    </div>
  </div>
  <div class="">
    <h2 class="formTemlateHeading">Form Name</h2>
    <h3 class="formTemlateName">{{formtemplate.title}}</h3>
    <h2 class="formTemlateHeading">Description</h2>
    <h3 class="formTemlateDescription">{{formtemplate.description}}</h3>
    <h2 class="formTemlateHeading">Form Id</h2>
    <h3 class="formTemlateDate">{{formtemplate.id}}</h3>
    <div class="formTemplateline"></div>  
    <a class="formTemplate-btn button-value" [routerLink]=" userDataService.getUserData().role == constants.SUPER_ADMIN ? '/edit-template/' + formtemplate.id : '/view-template/' + formtemplate.id">View Form</a>
    <a *ngIf="userDataService.getUserData().role == constants.ADMIN || userDataService.getUserData().role == constants.MANAGER || userDataService.getSelectedOrg()" class="formTemplate-btn button-value" (click)="openOverlay(formtemplate)">Assign Form</a>
    <span class="submit-form">
      <a *ngIf="userDataService.getUserData().role == constants.EMPLOYEE" class="formTemplate-btn button-value" (click)="getUserDetailsById(formtemplate)" >Submit Form</a>
      <!-- <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" (click)="onSubmitForm(userDetails.tlid, formtemplate)" >To Team Leader</a></li>
        <li><a href="javascript:void(0)" (click)="onSubmitForm(userDetails.managerid, formtemplate)" >To manager</a></li>
      </ul> -->
    </span>
  </div>
</section>
