<section class="template" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="main-heading">Form Templates</h1>
        <p class="sub-heading">Browse through our repository of compliance forms.</p>
      </div>
      <div class="col-sm-6">
        <img [src]="userDataService.getUserData().organization_logo || 'assets/user.png'" class="float-right user-img">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="line"></div> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class=" search-org-name" placeholder="Search by Name of the Form" name="search" id="formSearch">
        <img class="search-icon" src="assets/search-icon-img.png">
      </div>
    </div>
    <div class="row form-list">
      <div class="col-sm-3 wow fadeInUp" *ngFor="let template of templates; let i=index " [attr.data-wow-delay]="(0.2*(i%10)) + 's'">
        <app-form-stamp (onDelete)="onDeleteTemplate($event)"  [formtemplate] = "template" (notify)="openOverlay($event)"></app-form-stamp>
      </div>
      <div class="col-sm-12" *ngIf="templates.length == 0">
        <app-empty-placeholder></app-empty-placeholder>
      </div>
    </div>
  </div>
</section>

<app-assign-new-form [selectedTemplate]="selectedTemplate"></app-assign-new-form>
