<section class="feature-section container-fluid">
  <div class="row equal-row scroll-1">
    <div class="col-sm-6 text-part  wow fadeInRight" data-wow-delay="0.5s">
      <div class="count">#1</div>
      <div>
        <span class="text-1 text-red">Uncomplicating </span>
        <span class="text-2 text-black">Compliance.</span>
      </div>
      <p class="text-3 text-black">
        A unified dashboard to discover, assign, track, and manage all Compliance forms. Stay on top, at all times.
      </p>
    </div>
    <div class="col-sm-6 img-part text-center wow fadeInLeft" data-wow-delay="0.5s">
      <div class="img-container">
        <img src="/assets/Group 112.svg">
      </div>
    </div>
  </div>
  <div class="row equal-row scroll-2">
    <div class="col-sm-6 img-part text-center wow fadeInRight" data-wow-delay="0.5s">
      <div class="img-container">
        <img src="/assets/Group 143.svg">
      </div>
    </div>
    <div class="col-sm-6 text-part wow fadeInLeft" data-wow-delay="0.5s">
      <div class="count">#2</div>
      <div>
        <span class="text-2 text-black">Stay </span>
        <span class="text-1 text-red">audit-ready </span>
        <span class="text-2 text-black">always.</span>
      </div>
      <p class="text-3 text-black">
        A dashboard that logs all activities and usages of forms and keeps you informed of the status of your tasks.
      </p>
    </div>
  </div>
  <div class="row equal-row scroll-3">
    <div class="col-sm-6 text-part wow fadeInRight" data-wow-delay="0.5s">
      <div class="count">#3</div>
      <div>
        <span class="text-1 text-red">Real-Time </span>
        <span class="text-2 text-black">Updates</span>
      </div>
      <p class="text-3 text-black">
        Our team keeps the repository of documents on the dashboard updated for your use at all times.
      </p>
    </div>
    <div class="col-sm-6 img-part text-center wow fadeInLeft" data-wow-delay="0.5s">
      <div class="img-container">
        <img src="/assets/Group 112.svg">
      </div>
    </div>
  </div>
  <div class="row equal-row scroll-4">
    <div class="col-sm-6 img-part text-center wow fadeInRight" data-wow-delay="0.5s">
      <div class="img-container">
        <img src="/assets/Group 145.svg">
      </div>
    </div>
    <div class="col-sm-6 text-part wow fadeInLeft" data-wow-delay="0.5s">
      <div class="count">#4</div>
      <div>
        <span class="text-2 text-black">Secure </span>
        <span class="text-1 text-red">& Protected</span>
      </div>
      <p class="text-3 text-black">
        Your Compliance is your business. With additional security measures to avoid hacking and phishing, your data integrity is on top of our list.
      </p>
    </div>
  </div>
</section>
<!-- Last section -->
<section class="section-4 container-fluid wow fadeInDown" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-sm-6 left-section">
      <h1 class="text-2 text-white">
        Let's save you some time.
      </h1>
      <h1 class="text-1 text-white">
        Schedule a demo call.
      </h1>
      <p class="text-3 text-white">
        Allow our team to understand your business requirements and providing a bespoke experience.
      </p>
      <div>
        <a routerLink="/contact" class="white-bg-btn btn-hover-anim">
          SCHEDULE DEMO
        </a>
      </div>
    </div>
    <div class="col-sm-6 right-section">
      <img src="assets/Group 140.png">
    </div>
  </div>
</section>
