@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("/assets/fonts/HKGrotesk-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("/assets/fonts/HKGrotesk-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "HKGrotesk-Light";
  src: url("/assets/fonts/HKGrotesk-Light.ttf") format('truetype');
}
@font-face {
  font-family: "HKGrotesk-Italic";
  src: url("/assets/fonts/HKGrotesk-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("/assets/fonts/HKGrotesk-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HKGrotesk-SemiBold";
  src: url("/assets/fonts/HKGrotesk-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/assets/fonts/Montserrat-SemiBold.otf") format('truetype');
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/fonts/Montserrat-Regular.otf") format('truetype');
}
@font-face {
  font-family: "EncodeSansSemiExpanded-Medium";
  src: url("/assets/fonts/EncodeSansSemiExpanded-Medium.ttf") format('truetype');
}