.stamp{
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 15px 10px;
  margin-bottom: 30px;
  // height: 256px;

  .remove-btn{
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translate(-50%, -50%);
    display: none;

    img{
      max-width: 20px;
    }
  }

  .profile-cont{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .profile-part{
      display: inline-block;
      margin-right: 10px;

      .org-img{
        height: 90px;
        width: 90px;
        border-radius: 100px;
      }
    }
    .info-section{
      display: inline-block;
      width: calc(100% - 100px);
      .org-name{
        font-size: 18px;
        margin-bottom: 0px;
        color: #181818;
        font-family: HKGrotesk-Bold;
        text-decoration: none;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
      .org-join-date{
        color: #a1a1a1;
        font-size: 12px;
        font-family: HKGrotesk-Regular;
        margin-bottom: 0px;
      }
      .org-count{
        font-family: HKGrotesk-Regular;
        font-size: 12px;
        color: #181818;
        margin-bottom: 0px;
        letter-spacing: -0.42px;
      }
    }
  }

  .footer-section{
    height: 27px;
    .inv-not-accepted{
      color: #db803a;
      font-size: 14px;
      font-family: HKGrotesk-Regular;
      margin-bottom: 6px;
    }
    .navigation-btn{
      font-family: EncodeSansSemiExpanded-Medium;
      font-size: 11px;
      text-decoration: none;
      display: inline-block;
      padding: 4px 8px;
      border: solid 1px transparent;
      border-radius: 50px;
      letter-spacing: -0.27px;
      background: transparent;
      margin-right: 8px;

      &.access{
        background: #d81f29;
        color: #fff;
        border-color: #d81f29;
      }
      &.edit{
        border-color: #333;
        color: #333;
      }
    }
  }

  /*Actions*/
  .actions{
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;

    button{
      background: transparent;
      outline: none;
      padding-top: 0;
      color: #aaa;
      border: none;
      padding-right: 15px;
    }
    button img{
      max-width: 90%;
      transform: rotate(90deg);
    }
    button:focus{
      outline: none;
      box-shadow: none;
    }
    .dropdown-menu{
      border-radius: 0px;
      min-width: 110px;
      padding: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
      border: none;
      background: transparent;
    }
    .dropdown-menu a, p .dropdown-menu a:hover{
      font-family: HKGrotesk-Bold;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 8px 20px;
      border-radius: 0px;
      font-size: 14px;
      background: #d81f29;
    }
  }
  /*Action end*/

  &:hover{
    .actions{
      display: block;
    }
     .remove-btn{
      display: block;
    }
  }
}
/*Media queries  start*/
/* Landscape*/

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
}

/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 992px) {
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
}