<section class="container-fluid top-space onboarding">
  <div class="row profile-completion-page">
    <div class="col-sm-5 left-section">
      <form name="profileCompletionForm" (ngSubmit)="f.form.valid && submit()"  #f="ngForm" novalidate>
        <div class="completion-step">Step 2 out of 2</div>
        <h1>Customize your Forms.</h1>
        <p class="resend-mail">Add your Logo and Company Details.</p>
        <div class="form-group">
          <label class="label-heading" for="organization">Organisation Name</label>
          <input class="text-field"  type="text" [(ngModel)]= "userData.organization" #organization="ngModel" [ngClass]="{ 'is-invalid': f.submitted && organization.invalid }" placeholder="Surfing Monkey" name="organization" required />
          <div *ngIf="f.submitted && organization.invalid">
            <div class="err-msg" *ngIf="organization.errors.required">Organisation name is required
            </div>
          </div>
        </div>

        <div class="row upload-image-page" *ngIf="userData.orgimage == '' || userData.orgimage == undefined || userData.orgimage == null">
          <div class="form-group" class="col-sm-4 left-section-1">
            <label class="label-heading">Upload Logo</label>
            <input class="" type="file" style="display: none;" id="chooseFile" name="" (change)="fileChangeEvent($event, 'orgImage')">
            <label for="chooseFile" class="upload-file" >
              <div class="plus-sign-container">
                <h1 class="plus" >+</h1>
                <h2 class="upload-img-msg">Click here to Upload</h2> 
              </div>
            </label>

          </div>
          <div class="col-sm-8 right-section-1">
            <p>Note:<p>
            <p class="note">Please make sure that the logo is in a square format and below 150 KB in size. Since this logo will be used on the form, please ensure that your registered Logo is being used.</p>
          </div>
        </div>

        <div *ngIf="userData.orgimage != '' && userData.orgimage != undefined && userData.orgimage != null" class="profile-logo">
          <div class="" >
            <div class="overlay"></div>
            <label class="edit-label" for="editFile">Edit</label>
            <input class="" type="file" style="display: none;" id="editFile" name="" (change)="fileChangeEvent($event, 'profileImage')">
            <img class="" style="width: 100%" [src]="userData.orgimage">
          </div>
        </div>

        <div class="create-profile-btn">
          <button type="submit" class="red-btn btn-hover-anim">Complete Profile</button>
        </div>
        <div class="form-group">
          <p class="resend-mail">Already have an account on Whirligig?<a target="_blank" class="anchor-text" href="">Login Now!</a></p>
        </div>
      </form>
    </div>
    <div class="col-sm-7 right-section">
    </div>
  </div>
</section>
