/*Overlay start*/
.overlay {
  height:  calc(100% - 65px);
  width: 0%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.45);
  overflow: hidden;
  transition: 0.5s;

  &.super-nav-open{
    height:  calc(100% - 119px);

    .overlay-content{
      .overlay-body{
        min-height:  calc(100vh - 54px);
        max-height:  calc(100vh - 54px);
      }
    }
  }
}
.overlay .overlay-content{
  width: 75%;
  height: 100%;
  position: relative;
  background: #f8f8f8;
  right: -25%;
  padding: 40px;
}
.overlay .overlay-content .close-btn{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  height: 85px;
  width: 85px;
  display: inline-block;
  border-radius: 100px;
  top: 30px;
  left: -132px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #d81f29;
}
.overlay .overlay-content .close-btn div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay .overlay-content .close-btn div .close-icon{
  font-size: 30px;
  display: block;
  line-height: 21px;
}
.overlay .overlay-content .close-btn div .close-label{
  display: block;
  font-size: 12px;
  font-family: HKGrotesk-Regular;
}
.overlay .overlay-content .overlay-body{
  position: absolute;
  left: 0%;
  min-height: 100vh;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
  padding: 30px;
  width: 100%;
  padding-bottom: 100px;
}
.overlay .overlay-content .overlay-body .step-no{
  font-family: HKGrotesk-Bold;
  font-size: 14px;
  color: #db3a3a;
}
.overlay .overlay-content .overlay-body .heading{
  font-family: HKGrotesk-Light;
  font-size: 31px;
  color: #4a4a4a;
}
.overlay .overlay-content .overlay-body .info{
  font-family: HKGrotesk-Regular;
  font-size: 12px;
  color: #181818;
  margin-top: 6px;
}
.click-add-tag{
  padding-left: 2px;
  font-family: HKGrotesk-Bold;
  text-decoration-line: underline;
  color: #d81f29;
}
.overlay .overlay-content .overlay-body .info-details{
  padding: 50px 0;
}
.overlay .overlay-content .overlay-body form {
  margin-top: 45px;
}
.overlay .overlay-content .overlay-body form label{
  font-family: HKGrotesk-Bold;
  color: #181818;
}
.overlay .overlay-content .overlay-body form label.assignees{
  margin-bottom: 30px;
}
.overlay .overlay-content .overlay-body form input{
  border-radius: 10px;
  border: solid 1px #a1a1a1;
  background: transparent;
  outline: none;
  padding: 22px 10px;
  color: #181818;
  font-family: HKGrotesk-Light;
  font-size: 17px;
}
.overlay .overlay-content .overlay-body form ng-select.member-list{
  border-radius: 10px;
  background: transparent;
  outline: none;
  background-color: #f8f8f8;
  color: #181818;
  font-family: HKGrotesk-Light;
  font-size: 17px;
}
.overlay .overlay-content .overlay-body form ng-select.member-list ::ng-deep .ng-select-container{
  background-color: #f8f8f8;
  padding: 22px 10px;
  border-radius: 10px;
  border: solid 1px #a1a1a1;
  background: transparent;
  outline: none;
  color: #181818;
  font-family: HKGrotesk-Light;
  font-size: 17px;
}
.overlay .overlay-content .overlay-body form .form-group{
  margin-bottom: 25px; 
}
.overlay .overlay-content .overlay-body .v-line{
  min-height: 200px;
  width: 2px;
  background: rgba(0, 0, 0, 0.16);
  display: inline-block;
}
.addEmail-btn{
  font-family: HKGrotesk-Bold;
  font-size: 14px;
  border: none;
  outline: none;
  background: no-repeat;
  color: #d81f29;
}
.addEmail-btn.plus-sign{
  border-radius: 20px;
}
.overlay .overlay-content .overlay-body form .stepper-btn{
  font-family: HKGrotesk-Bold;
  font-size: 12px;
  border: none;
  padding: 12px;
  border-radius: 50px;
  margin-top: 25px;
  width: 100%;
  outline: none;
}
.overlay .overlay-content .overlay-body form .stepper-btn.cancel{
  background: #e8e8e8;
  color: #a1a1a1;
}
.overlay .overlay-content .overlay-body form .stepper-btn.create{
  background-color: #d81f29;
  color: #fff;
}
.overlay .overlay-content .overlay-body .remove-btn{
  background: transparent;
  border: none;
  color: #a1a1a1;
  font-size: 27px;
  outline: none;
}
.overlay .overlay-content .overlay-body .form-heading{
  font-family: HKGrotesk-Light;
  color: #a1a1a1;
  font-size: 12px;
  margin-bottom: 2px;
}
.overlay .overlay-content .overlay-body .form-Name{
  font-family: HKGrotesk-Bold;
  color: #181818;
  font-size: 19px;
}
.overlay .overlay-content .overlay-body .form-description{
  font-family: HKGrotesk-Regular;
  color: #181818;
  font-size: 15px;
}
.overlay .overlay-content .overlay-body .form-date{
  color: #181818;
  font-size: 12px;
  font-family: HKGrotesk-Medium;
}
.stamp{
  position: relative;
  margin-bottom: 40px;
}
.stamp .remove-btn{
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-50%, -50%);
  display: block;
}
.stamp .stamp:hover .remove-btn{
  display: block;
}
.stamp .remove-btn img{
  max-width: 12px;
}
.stamp .organization-details{
  align-items: center;
  margin-bottom: 20px;
}
.stamp .organization-details .org-right{
  margin-left: 70px;
}
.stamp .circle{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.stamp .profile-name{
  color: #181818;
  font-family: HKGrotesk-Bold;
  font-size: 16px;
  margin: 0px;
}
.stamp .designation{
  color: #181818;
  font-family: HKGrotesk-Regular;
  font-size: 12px;
  margin: 0px;
}
/*Slim scrollbar*/
.slim-scrollbar::-webkit-scrollbar
{
  width: 8px;
}
/*Stepper*/
.overlay  ::ng-deep .mat-horizontal-stepper-header {
    display: none !important;
}
.overlay  ::ng-deep .mat-stepper-horizontal-line{
  display: none !important;
}
.overlay  ::ng-deep .mat-stepper-horizontal{
  background: transparent;
}

.left-side-heading{
  color: #4a4a4a;
  font-size: 26px;
  font-family: HKGrotesk-Light;
}
/*Ng select start*/
/*ng-select clear all button start*/
.assign-form-template ::ng-deep.ng-select .ng-clear-wrapper .ng-clear{
  font-family: serif !important;
}
.assign-form-template .ng-select.ng-select-multiple .ng-clear-wrapper .ng-clear{
  display: none;
}
/*ng-select clear all button end*/
.assign-form-template ::ng-deep.ng-arrow-wrapper{
  /*visibility: hidden;*/
}
.assign-form-template .ng-select-right-icon{
  position: absolute;
  right: 15px;
  top: 12px;
  max-width: 15px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container{
  font-family: HKGrotesk-Regular;
  color: #a8a8a8;
  min-height: 45px;
  border: none !important;
  background: transparent;
  box-shadow: none;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.6);
  background-color: transparent;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar
{
  width: 6px;
  background-color: transparent;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  margin-bottom: 0px !important;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked{
  background-color:rgba(231, 125, 125, 0.22);
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child{
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  border-top: 1px solid #dddddd;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .scroll-host::-webkit-scrollbar-thumb
{
  background-color: #FFF;
  background-image: none;
  background-color: #e5e5e5;
  border-radius: 10px;
  cursor: pointer;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel{
  position: static;
  border: none;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-option.ng-option-disabled{
  background: transparent;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.disabled{
  background: transparent;
  color: #ccc;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  padding: 8px 15px;
  font-size: 14px;
  font-family: HKGrotesk-Regular;
  background: transparent;
  color: #181818;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-input{
  top: 0;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-input input{
  min-height: 40px;
  padding: 0;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder{
  top: 15px;
  padding-left: 10px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container{
  border-radius: 50px;
  border: 1px solid #dddddd;
  font-family: HKGrotesk-Regular;
  color: #a8a8a8;
  min-height: 40px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-has-value{
  padding: 8px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container{
  padding-left: 5px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-input{
  top: 0;
  left: 5px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-input input{
  min-height: 40px;
}
.assign-form-template .ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder{
  top: 15px;
  font-size: 12px;
  color: #a8a8a8;
}
.assign-form-template ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover{
  background-color: #FE5C5E !important;
  font-family: "segoe ui";
}
.assign-form-template ::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  background-color: #FE5C5E !important;
  font-family: "segoe ui";
  padding: 0px 5px !important;
}
.assign-form-template ::ng-deep .ng-select-container .ng-value-container .ng-value{
  padding: 5px;
  background: #FE5C5E !important;
  border-radius: 50px;
  font-size: 18px;
  font-family: HKGrotesk-Italic;
  color: #a1a1a1 !important;
}
.assign-form-template .ng-select.ng-select-multiple ::ng-deep .ng-select-container .ng-value-container .ng-input {
  padding-left: 10px;
}
.assign-form-template .ng-select.ng-select-multiple ::ng-deep .ng-select-container .ng-value-container .ng-value{
  padding: 0px 5px !important;
  border-radius: 40px;
}
.assign-form-template .ng-select.custom.ng-select-multiple ::ng-deep .ng-select-container{
  border-bottom: 1px solid #dddddd !important;
  border-radius: 0;
}
.assign-form-template .ng-select.custom.ng-select-multiple ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*styling for single select*/
.assign-form-template .ng-select.ng-select-single ::ng-deep .ng-select-container .ng-value-container .ng-value{
  background-color: transparent !important;
  /*font-family: "segoe ui";*/
  color: #a8a8a8;
  font-size: 14px;
}
.input-border{
  border: 1px solid #dddddd;
  border-radius: 10px;
}
/*Ng select end*/

/*Date picker start*/
.assign-form-template .date-picker-cont{
  display: inline-block;
  position: relative;
}
.assign-form-template .date-picker-cont .down-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 12px;
  right: 15px;
}
.assign-form-template ::ng-deep .ngx-datepicker-container .ngx-datepicker-calendar-container{
  z-index: 1;
}
.assign-form-template ::ng-deep .ngx-datepicker-container{
  display: inline-block;
  position: relative;
}
.assign-form-template ::ng-deep .ngx-datepicker-container .ngx-datepicker-input{
  background: transparent;
  border-radius: 10px;
  border: 1px solid #dddddd !important;
  min-height: 40px;
  color: #a1a1a1;
  font-size: 12px !important;
  font-family: HKGrotesk-Regular;
}
/*Date picker end*/

/*Overlay end*/